<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Placelist - List</title>
    <link rel="stylesheet" href="../css/index.css" />
    <link rel="stylesheet" href="../css/list.css" />
  </head>
  <body>
    <%-include('nav.ejs') %>
    <section class="section_list">
      <div class="list_box">
        <% for(let item of data) {%>
        <div class="list_item">
          <div class="img_box">
            <img
              src=<%=item.img%> 
              alt=""
            />
          </div>
          <div class="txt_box">
            <h3><%=item.name%></h2>
            <div class="rate_box">
              <div class="rate_input">
                <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
                <!-- <p><%=(item.rate/item.review.length).toFixed(1) *20%></p> -->
                <p class="filled"
                style="width: <%=(item.rate/item.review.length).toFixed(1)* 20 %>%">&#9733;&#9733;&#9733;&#9733;&#9733;</p>
              </div>
            </div>
            <p><%=item.address%></p>
            <a href="/place/<%=item._id%>" class="btn_view">View the place</a>
          </div>
        </div>
        <% }%>
</div>
    </section>
  </body>
  <script src="../js/index.js"></script>
</html>
